/* GENERAL STYLING */
* {
    margin: 0;
}

header,
footer {
    font-family: "Share Tech", Arial, sans-serif;
}

h1,
h2,
h3 {
    font-family: "Share Tech", Arial, sans-serif;
    margin-left: 5%;
}

body {
    font-family: Arial, sans-serif;
}

p {
    margin-left: 5%;
}



/* HEADER  */
.website-header {
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: lightgreen;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(170, 180, 191);

    padding-left: 8px;

    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    top: 0;
    left: 0;
    right: 0;

    background-color: rgb(245, 243, 243);
}

.header-js-icon {
    width: 4em;
    display: inline;
    vertical-align: bottom;
}

.header-left {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.header-title {
    font-size: 2.5em;
    color: black;
    display: inline;
    margin: 0;
    white-space: nowrap;
}

/* this removes the header title when the screen is resized */
@media (max-width: 1100px) {
    .header-title {
        display: none;
    }

}

.header-right {
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    flex-wrap: wrap;
}

.header-navigation-link {
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    color: rgb(99, 107, 116);
    transition-duration: 0.2s;
    /* this ensures each navigation link stays on the same line and doesn't wrap */
    white-space: nowrap;
}

.header-navigation-link:hover {
    background-color: lightgreen;
    border-radius: 1em;
    /* allows for a gradual transition for the hover effect which is visually pleasant*/
    transition-duration: 0.2s;
    color: black;
}

/* CONTENT */

/* this ensures the content does not overlap with the fixed header  */
.page-title {
    padding-top: 5em;
}


/* footer  */

.website-footer {
    border-top: 1px;
    border-top-style: solid;
    border-color: rgb(170, 180, 191);
    margin-top: 10em;
    padding: 0.5em;
    position: fixed;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    right: 0;
    bottom: 0;
}

.email-icon {
    margin-left: 0.2em;
    width: 1.5em;
    vertical-align: middle;
    /* margin-right: 1em; */
}

.group-feedback-link {
    text-decoration: none;
    color: rgb(99, 107, 116);
}

.group-feedback-link:hover {
    color: black;
    text-decoration: underline;
}

.send-email {
    text-decoration: none;
}

.individual-portrait {
    width: 2.5em;
    border-radius: 50%;
    vertical-align: middle;
}

.email-individual {
    position: relative;
    display: inline-block;
}

.email-individual .tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    right: 0%; 
    white-space: nowrap;
    opacity: 0;
    transition: opacity 1s;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    background-color: rgb(245, 243, 243);
    padding: 0.5em;
    border: 1px solid;
    border-radius: 1em;
}

.email-individual:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}